<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Social media -->
    <section
      class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
    >
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4 custom-logo">
                <a routerLink="/admin/main">
                    <img class="center img-logo-footer" src="/assets/images/logo-app.png" alt="logo">
                </a><a class="text-color-app" routerLink="/admin/main">IT STORE</a>
            </h6>
            <p class="address">
              <b> Địa chỉ trụ sở chính: </b> <br>
              Tầng 5, Số 117-119-121 Nguyễn Du, Phường Bến Thành, Quận 1, Thành Phố 
              Hồ Chí Minh <br> <br>

              <b> Văn phòng điều hành miền Bắc: </b> <br>
              Tầng 6, Số 1 Phố Thái Hà, Phường Trung Liệt, Quận Đống Đa, Hà NộiVăn 
              <br><br>
              <b> phòng điều hành miền Nam: </b> <br>
              Tầng 11 Minh Long Tower, số 17 Bà Huyện Thanh Quan, Phường Võ Thị Sáu, 
              Quận 3, TP. Hồ Chí Minh <br>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Người dùng
            </h6>
            <p>
              <a routerLink="/customer/main" class="text-reset">Trang chủ</a>
            </p>
            <p>
              <a routerLink="/customer/main/products" class="text-reset">sản phẩm</a>
            </p>
            <p>
              <a routerLink="/customer/main/cart" class="text-reset">giỏ hàng</a>
            </p>
            <p>
              <a routerLink="/customer/main/profile" class="text-reset">tài khoản</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Quản lý
            </h6>
            <p>
              <a routerLink="/admin/main/" class="text-reset">Thống kê</a>
            </p>
            <p>
              <a routerLink="/admin/main/categories" class="text-reset">Danh mục</a>
            </p>
            <p>
              <a routerLink="/admin/main/products" class="text-reset">Sản phẩm</a>
            </p>
            <p>
              <a routerLink="/admin/main/orders" class="text-reset">Đơn hàng</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Contact
            </h6>
            <p><i class="fas fa-home me-3"></i>Quân 1, TP.Hồ Chí Minh</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              administrator@mailinator.com
            </p>
            <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
            <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2021 Copyright:
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->