
<section class="addresses center">
    <br>
    <h1>Địa chỉ</h1>
    <a routerLink="/customer/main/add-address" class="btn btn-primary">Thêm địa chỉ</a>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Địa chỉ</th>
                <th>Quản lý</th>
            </tr>
        </thead>
        <tbody>
            <tr class="item">
                <td>1</td>
                <td>
                    <p><b>Tên người nhận:</b> Mai Trọng Nhân</p>
                    <p><b>Địa chỉ nhận:</b> Hẻm 51L - Đường  3/2 Phương Xuân Khánh - Quân Ninh Kiều - TP.Cần Thơ</p>
                    <p><b>Số điện thoại:</b> 0943363414</p>
                </td>
                <td>
                    <button class="btn btn-outline-success btn-sm btn-floating">
                        <i class="fa-solid fa-pen"></i>
                    </button>
                    <button class="btn btn-outline-danger btn-sm btn-floating">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </td>
            </tr>
            <tr class="item">
                <td>1</td>
                <td>
                    <p><b>Tên người nhận:</b> Mai Trọng Nhân</p>
                    <p><b>Địa chỉ nhận:</b> Hẻm 51L - Đường  3/2 Phương Xuân Khánh - Quân Ninh Kiều - TP.Cần Thơ</p>
                    <p><b>Số điện thoại:</b> 0943363414</p>
                </td>
                <td>
                    <button class="btn btn-outline-success btn-sm btn-floating">
                        <i class="fa-solid fa-pen"></i>
                    </button>
                    <button class="btn btn-outline-danger btn-sm btn-floating">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </td>
            </tr>
            <tr class="item">
                <td>1</td>
                <td>
                    <p><b>Tên người nhận:</b> Mai Trọng Nhân</p>
                    <p><b>Địa chỉ nhận:</b> Hẻm 51L - Đường  3/2 Phương Xuân Khánh - Quân Ninh Kiều - TP.Cần Thơ</p>
                    <p><b>Số điện thoại:</b> 0943363414</p>
                </td>
                <td>
                    <button class="btn btn-outline-success btn-sm btn-floating">
                        <i class="fa-solid fa-pen"></i>
                    </button>
                    <button class="btn btn-outline-danger btn-sm btn-floating">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </td>
            </tr>
        </tbody>
        <tfoot></tfoot>
    </table>
</section>