.product {
    width: 200px;
    height: 280px;
    position: relative;
    overflow: hidden;
    margin-top: 10px;

    .product-image {
        width: 90%;
        height: 120px;
        overflow: hidden;
        margin-top: 10px;
        background-color: #c6c6c6;
        border-radius: 5px;

        img {
            height: 100%;
            object-fit: cover;
            vertical-align: middle;
            transition: 0.1s all ease;
        }
    }
    
    .content-product {
        width: 90%;

        h4 {
            width: 100%;
            height: 30px;
            overflow: hidden;
            margin-top: 10px;
            margin-bottom: 0;
        }

        h5 {
            margin: 0;
        }
    }
}

.product:hover {
    box-shadow: 0 0 10px 5px #efefef;
}