<section class="profile center">
    <br>
    <h1>Tài khoản</h1>
    <br>
    <form class="add-category-form">
        <div class="input-group">
            <mdb-form-control class="full-width">
                <input mdbInput type="password" id="new-password" class="form-control" />
                <label mdbLabel class="form-label" for="new-password">Mật khẩu mới</label>
            </mdb-form-control>
        </div>
        <div class="input-group">
            <mdb-form-control class="full-width">
                <input mdbInput type="password" id="confirm-new-password" class="form-control" />
                <label mdbLabel class="form-label" for="confirm-new-password">Nhập lại mật khẩu mới</label>
            </mdb-form-control>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
    </form>
</section>