<section class="banner">
    <div class="banner-text text-white">
        <h1 class="p1">Prestige</h1>
        <h1 class="p2">&</h1>
        <h1 class="p3">Quality</h1>
        <h4>Make up us</h4>
        <p>
            IT STORE Pleased to serve you, <br>
            We will provide you with<br>
            the best services and experiences
        </p>
        <button (click)="scroll(products)" class="btn btn-success">Start</button>
    </div>
    <div class="banner-image"></div>
</section>
<app-categories></app-categories>
<section class="products-component center" #products>
    <h2>Products</h2>
    <div class="products text-color-app">
        <app-product-item 
            *ngFor="let product of listProducts"
            [product]="product"
        ></app-product-item>
    </div>
    <p class="text-color-app text-center">
        <i *ngIf="loading" class="animation-loading fa-solid fa-spinner"></i>
        <span *ngIf="!loading">See more products</span>
    </p>
</section>