<section class="categories-component center">
    <h2>Danh mục sản phẩm</h2>
    <div class="categories text-color-app text-center">
        <app-category-item></app-category-item>
        <app-category-item></app-category-item>
        <app-category-item></app-category-item>
        <app-category-item></app-category-item>
        <app-category-item></app-category-item>
        <app-category-item></app-category-item>
        <app-category-item></app-category-item>
        <app-category-item></app-category-item>
        <app-category-item></app-category-item>
        <app-category-item></app-category-item>
    </div>
    <p class="text-color-app text-center">Xem tất cả danh mục</p>
</section>