.add-category {
    width: 500px;

    .review-category-image {
        width: 100%;
        height: 200px;
        border-radius: 10px;
        background-color: #efefef;
    }

    .btn {
        margin-right: 10px;
    }
}