.categories {
    width: 90%;
    max-width: 1200px;

    .search-component {
        width: 300px;
        padding-top: 20px;
    }

    .table-wrapper {
        overflow-x: scroll;
        
        .table {
            min-width: 1000px;
            tr {
                .name {
                    max-width: 300px;
                }

                td {
                    vertical-align: middle;
                    align-items: center;
    
                    img {
                        width: 100px;
                        border-radius: 10px;
                        object-fit: fill;
                    }
                    
                    button {
                        margin-right: 10px;
                    }
                }

                td:last-child {
                    width: 150px;
                }
            }
    
            .item {
                transition: 0.2s all ease;
            }
        }
    }
}