<section class="order-details center">
    <br>
    <h1>Order details</h1>
    <br>
    <div class="generate-order-information">
    </div>
    <br>
    <div class="table-wrapper">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Image</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Discount</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr class="item" *ngFor="let item of orderDetails?.items; let i = index" (click)="showDetails(item.product._id)">
                    <td>{{ i + 1 }}</td>
                    <td class="name-product">{{item.product.name}}</td>
                    <td>
                        <img [src]="item.product.image" alt="item-photo">
                    </td>
                    <td>{{item.quantity}}</td>
                    <td>{{item.product.price | currency: 'AUD'}}</td>
                    <td>-{{item.discount | currency: 'AUD'}}</td>
                    <td>{{item.totalPriceWithDiscount | currency: 'AUD'}}</td>
                </tr>
            </tbody>
            <tfoot></tfoot>
        </table>
    </div>
    <br>
    <div class="order-description">
        <p>
            <b>Human receiver:</b>{{orderDetails?.address?.fullName}} <br>
            <b>Address:</b>{{orderDetails?.address?.fullAddress}}
        </p>
        <p>
            <b>Payment Method:</b> {{orderDetails?.paymentMethod}}
        </p>
        <p>
            <b>Order status:</b> {{orderDetails?.status}}
        </p>
        <p>
            <b>Total:</b> {{orderDetails?.totalPrice | currency: 'AUD'}}
        </p>
    </div>
</section>
<ngx-spinner type="ball-scale-multiple">
    <i style="font-size: 50px; color: white" class="animation-loading fa-solid fa-spinner"></i>
</ngx-spinner>
