<section class="order-detail center">
    <br>
    <h1>Chi tiết đơn hàng</h1>
    <table class="table">
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>Tên</th>
                <th>Hình ảnh</th>
                <th>giá</th>
                <th>Số lượng</th>
                <th>thành tiền</th>
            </tr>
        </thead>
        <tbody>
            <tr class="item">
                <td>
                    1
                </td>
                <td>Laptop</td>
                <td>
                    <img src="/assets/images/laptop.jpeg" alt="">
                </td>
                <td>10.000.000</td>
                <td>1</td>
                <td>10.000.000</td>
            </tr>
            <tr class="item">
                <td>
                    2
                </td>
                <td>Laptop</td>
                <td>
                    <img src="/assets/images/laptop.jpeg" alt="">
                </td>
                <td>10.000.000</td>
                <td>1</td>
                <td>10.000.000</td>
            </tr>
            <tr class="item">
                <td>
                    3
                </td>
                <td>Laptop</td>
                <td>
                    <img src="/assets/images/laptop.jpeg" alt="">
                </td>
                <td>10.000.000</td>
                <td>1</td>
                <td>10.000.000</td>
            </tr>
        </tbody>
        <tfoot></tfoot>
    </table>
    <br><br>
    <div class="infomation-order">
        <p>
            <b>Người nhận:</b> Mai Trong Nhan
        </p>
        <p>
            <b>Địa chỉ giao hàng:</b> Hẻm 51 - Đường 3/2 - Xuân Khánh - Ninh Kiều - Cần Thơ
        </p>
        <p>
            <b>Số điện thoại:</b> 0943363414
        </p>
        <p>
            <b>Thành tiền:</b> 30.000.000 vnđ
        </p>
    </div>
    <br><br>
</section>