<section class="order-history center">
    <br>
    <h1>Order history</h1>
    <div class="table-wrapper">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>Date buy</th>
                    <th>Status</th>
                    <th>Payment method</th>
                    <th>Total</th>
                    <th>Control</th>
                </tr>
            </thead>
            <tbody>
                <tr class="item" *ngFor="let order of orders; let i = index">
                    <td>
                        {{i + 1}}
                    </td>
                    <td>
                        {{order.createdAt | date}}
                    </td>
                    <td>{{order.status}}</td>
                    <td>{{order.paymentMethod}}</td>
                    <td>{{order.totalPrice | currency: 'AUD'}}</td>
                    <td>
                        <a class="btn btn-primary" [routerLink]="'/main/order-history-details/' + order._id">View</a>
                    </td>
                </tr>
            </tbody>
            <tfoot></tfoot>
        </table>
        <p class="text-center">
            <i *ngIf="loading" class="animation-loading fa-solid fa-spinner"></i>
        </p>
    </div>
    <br><br>
</section>