<section class="order-history center">
    <br>
    <h1>Lịch sử đơn hàng</h1>
    <table class="table">
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th>Tên</th>
                <th>Hình ảnh</th>
                <th>giá</th>
                <th>Số lượng</th>
                <th>thành tiền</th>
                <th>quản lý</th>
            </tr>
        </thead>
        <tbody>
            <tr class="item">
                <td>
                    1
                </td>
                <td>Laptop</td>
                <td>
                    <img src="/assets/images/laptop.jpeg" alt="">
                </td>
                <td>10.000.000</td>
                <td>1</td>
                <td>10.000.000</td>
                <td>
                    <button class="btn btn-success">Mua lại</button>
                    <button class="btn btn-primary">Xem</button>
                </td>
            </tr>
            <tr class="item">
                <td>
                    2
                </td>
                <td>Laptop</td>
                <td>
                    <img src="/assets/images/laptop.jpeg" alt="">
                </td>
                <td>10.000.000</td>
                <td>1</td>
                <td>10.000.000</td>
                <td>
                    <button class="btn btn-success">Mua lại</button>
                    <button class="btn btn-primary">Xem</button>
                </td>
            </tr>
            <tr class="item">
                <td>
                   3
                </td>
                <td>Laptop</td>
                <td>
                    <img src="/assets/images/laptop.jpeg" alt="">
                </td>
                <td>10.000.000</td>
                <td>1</td>
                <td>10.000.000</td>
                <td>
                    <button class="btn btn-success">Mua lại</button>
                    <button class="btn btn-primary">Xem</button>
                </td>
            </tr>
        </tbody>
        <tfoot></tfoot>
    </table>
    <br><br>
</section>