<section class="product-details center">
    <br>
    <h1>Chi tiết sản phẩm</h1>
    <br>
    <div class="generate-product-information">
        <div class="product-image">
            <img src="/assets/images/laptop.jpeg" alt="">
            <div class="list-product-image">
                <img src="/assets/images/laptop.jpeg" alt="">
                <img src="/assets/images/laptop.jpeg" alt="">
                <img src="/assets/images/laptop.jpeg" alt="">
            </div>
        </div>
        <div class="product-information">
            <p>
                <b>Tên hàng hoá:</b>Laptop
            </p>
            <p>
                <b>Danh mục:</b>Laptop
            </p>
            <p>
                <b>Số lượng:</b>100
            </p>
            <p>
                <b>Giá:</b>10.000.000 vnđ
            </p>
            <p>
                <b>Sku:</b>1800944
            </p>
            <p>
                <b>Slug:</b>laptop-lenovo-v330-14ikbr-(81b0008lvn)-
                (15.6\"-hdi5-8250u4gb1tb-hdduhd-620free-dos1.5-kg)
                -PezBd
            </p>
            <a routerLink="/customer/main/products" class="btn btn-dark">Trở về</a>
            <button class="btn btn-primary">Thêm vào giở hàng</button>
        </div>
    </div>
    <br>
    <div class="product-description">
       <b>Mô tả:</b>
       <p>
        - CPU: Intel Core i5-8250U ( 1.6 GHz - 3.4 GHz / 6MB / 4 nhân, 8 luồng ) <br>
        - Màn hình: 15.6\" ( 1366 x 768 ) , không cảm ứng <br>
        - RAM: 1 x 4GB Onboard DDR4 2133MHz <br>
        - Đồ họa: Intel UHD Graphics 620 <br>
        - Lưu trữ: 1TB HDD 5400RPM <br>
        - Hệ điều hành: Free DOS <br>
        - Pin: 2 cell 30 Wh Pin liền , khối lượng: 1.5 kg
       </p> 
    </div>
</section>
