<section class="product-details center">
    <br>
    <h1>Product details</h1>
    <br>
    <div class="generate-product-information">
        <div class="product-image">
            <img class="center" [src]="productDetails?.image" alt="photo">
            <div class="list-product-wrapper">
                <div class="list-product-image">
                    <img 
                        *ngFor="let gallery of productDetails?.galleries"
                        (click)="changeImage(gallery.url)"
                        [src]="gallery.url" 
                        alt="child-photo"
                    >
                </div>
            </div>
        </div>
        <br><br>
        <div class="product-information">
            <p>
                <b>Product name:</b> {{productDetails?.name}}
            </p>
            <p>
                <b>Category:</b> {{productDetails?.category?.name}}
            </p>
            <p>
                <b>Quantity:</b> {{productDetails?.quantity}}
            </p>
            <p>
                <b>Price:</b> {{productDetails?.price | currency: 'AUD'}}
            </p>
            <p>
                <b>Sku:</b> {{productDetails?.sku}}
            </p>
            <p>
                <b>Slug:</b> {{productDetails?.slug}}
            </p>
            <p>
                <b>Warranty:</b> {{productDetails?.warranty?.months}} Months
            </p>
            <p>
                <b>Warranty details: </b>
                <br>
                <span [innerHTML]="productDetails?.warranty?.description"></span>
            </p>
            <a routerLink="/main/products" class="btn btn-dark">Back</a>
            <button (click)="handleAddCart()" class="btn btn-primary">Add to cart</button>
            <button (click)="handleClickWish(!wishStatus)" class="btn btn-floating" [class]="wishClass">
                <i *ngIf="wishLoading" class="animation-loading fa-solid fa-spinner"></i>
                <i *ngIf="!wishLoading" class="fa-solid fa-heart"></i>
            </button>
        </div>
    </div>
    <br>
    <div class="product-description">
       <h3>Description:</h3>
       <p [innerHTML]="productDetails?.description"></p> 
    </div>
</section>
<ngx-spinner type="ball-scale-multiple">
    <i style="font-size: 50px; color: white" class="animation-loading fa-solid fa-spinner"></i>
</ngx-spinner>