<section class="profile center">
    <br>
    <h1>Profile</h1>
    <br>
    <form class="add-category-form" [formGroup]="resetPasswordForm" (submit)="handleSubmit()">
        <div class="input-group">
            <mdb-form-control class="full-width">
                <input mdbInput mdbValidate formControlName="newPassword" type="password" id="new-password" class="form-control" />
                <label mdbLabel class="form-label" for="new-password">New password</label>
                <mdb-error *ngIf="getNewPassword.getError('required') && getNewPassword.touched">Password is required</mdb-error>
                <mdb-error *ngIf="getNewPassword.getError('minlength') && getNewPassword.touched">Length password is gather than 7</mdb-error>
            </mdb-form-control>
        </div>
        <div class="input-group">
            <mdb-form-control class="full-width">
                <input mdbInput mdbValidate formControlName="confirmNewPassword" type="password" id="confirm-new-password" class="form-control" (input)="checkConfirmMatch()" />
                <label mdbLabel class="form-label" for="confirm-new-password">Confirm new password</label>
                <mdb-error *ngIf="getConfirmNewPassword.getError('required') && getConfirmNewPassword.touched">Confirm password is required</mdb-error>
                <mdb-error *ngIf="getConfirmNewPassword.getError('minlength') && getNewPassword.touched">Length password is gather than 7</mdb-error>
                <mdb-error *ngIf="!checkConfirmPassword && getConfirmNewPassword.touched">Confirm password doesn't match</mdb-error>
            </mdb-form-control>
        </div>
        <a routerLink="/main/profile" class="btn btn-dark">Back</a>
        <button type="submit" class="btn btn-primary">
            <i *ngIf="loading" class="animation-loading fa-solid fa-spinner"></i>
            <span *ngIf="!loading">Save</span>
        </button>
    </form>
</section>