.profile {
    width: 90%;

    .profile-container {
        .btn {
            margin-right: 10px;
            margin-bottom: 10px;
        }
    }

    .profile-information {
        width: 90%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        
        .col-image {
            width: 300px;
            height: 370px;

            .img-review {
                width: 300px;
                height: 300px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 30px;

                img {
                    width: 300px;
                    height: 300px;
                    
                    object-fit: cover;
                    border-radius: 50%;
                }
            }
        }

        .col-information {
            width: calc(80% - 300px);
        }
    }

    .text-sm {
        font-size: 14px;
    }
}

@media screen and (max-width: 820px) {
    .profile {
        width: 90%;
    
        .profile-information {
            flex-direction: column;
            
            .col-image {
                margin-bottom: 20px;
            }
    
            .col-information {
                width: 100%;
            }
        }
    }
}