<section class="products center">
    <br>
    <h1>Products</h1>
    <a routerLink="/main/add-product" class="btn btn-primary">Add product</a>
    <div class="search-component">
        <form [formGroup]="searchForm" (submit)="handleSearch()">
            <div class="input-group mb-3">
                <input 
                    type="text" 
                    mdbValidate
                    formControlName="search"
                    class="form-control" 
                    placeholder="Search" 
                    aria-label="Search"
                    aria-describedby="button-addon2" 
                />
                <button class="btn btn-outline-primary" type="submit" id="button-addon2" mdbRipple rippleColor="success">
                    <i *ngIf="searchLoading" class="animation-loading fa-solid fa-spinner"></i>
                    <span *ngIf="!searchLoading">Search</span>
                </button>
            </div>
        </form>
    </div>
    <div class="table-wrapper">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Image</th>
                    <th>Category</th>
                    <th>Quantity</th>
                    <th>Private</th>
                    <th>Control</th>
                </tr>
            </thead>
            <tbody>
                <tr 
                    class="item" 
                    *ngFor="let product of listProduct; let i = index"
                    (click)="handleClickProductDetails(product._id)"
                >
                    <td>{{i + 1}}</td>
                    <td class="name-product">{{product.name}}</td>
                    <td>
                        <img *ngIf="product.image.length != 0" [src]="product.image" alt="photo product">
                    </td>
                    <td>{{product.category.name}}</td>
                    <td>{{product.quantity}}</td>
                    <td>{{product.price | currency: 'AUD'}}</td>
                    <td>
                        <button class="btn btn-outline-success btn-sm btn-floating" (click)="handleUpdateProduct($event, product._id)">
                            <i class="fa-solid fa-pen"></i>
                        </button>
                        <button class="btn btn-outline-danger btn-sm btn-floating" (click)="handleRemoveProduct($event, product._id)">
                            <i *ngIf="deleteProductLoading == product._id" class="animation-loading fa-solid fa-spinner"></i>
                            <i *ngIf="deleteProductLoading != product._id" class="fa-solid fa-xmark"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
            <tfoot></tfoot>
        </table>
        <p class="text-center">
            <i *ngIf="loading" class="animation-loading fa-solid fa-spinner"></i>
        </p>
    </div>
</section>