<section class="orders center">
    <br>
    <h1>Danh mục hàng hoá</h1>
    <div class="search-component">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Tìm kiếm" aria-label="Tìm kiếm"
                aria-describedby="button-addon2" />
            <button class="btn btn-outline-primary" type="button" id="button-addon2" mdbRipple rippleColor="success">
                Tìm kiếm
            </button>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Hình ảnh</th>
                <th>Tên sản phẩm</th>
                <th>Người mua</th>
                <th>Số điện thoại</th>
                <th>Trạng thái</th>
                <th>Thành tiền</th>
            </tr>
        </thead>
        <tbody>
            <tr class="item">
                <td>1</td>
                <td>
                    <img src="/assets/images/laptop.jpeg" alt="">
                </td>
                <td>Laptop</td>
                <td>Nguyễn Văn A</td>
                <td>0123456789</td>
                <td>pending</td>
                <td>
                    10.000.000
                </td>
            </tr>
            <tr class="item">
                <td>2</td>
                <td>
                    <img src="/assets/images/laptop.jpeg" alt="">
                </td>
                <td>Laptop</td>
                <td>Nguyễn Văn A</td>
                <td>0123456789</td>
                <td>pending</td>
                <td>
                    10.000.000
                </td>
            </tr>
            <tr class="item">
                <td>3</td>
                <td>
                    <img src="/assets/images/laptop.jpeg" alt="">
                </td>
                <td>Laptop</td>
                <td>Nguyễn Văn A</td>
                <td>0123456789</td>
                <td>pending</td>
                <td>
                    10.000.000
                </td>
            </tr>
        </tbody>
        <tfoot></tfoot>
    </table>
</section>