<section class="orders center">
    <br>
    <h1>Orders</h1>
    <div class="search-component">
        <form>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search" aria-label="Search"
                    aria-describedby="button-addon2" />
                <button class="btn btn-outline-primary" type="button" id="button-addon2" (click)="handleSearch()" mdbRipple
                    rippleColor="success">
                    <i *ngIf="searchLoading" class="animation-loading fa-solid fa-spinner"></i>
                    <span *ngIf="!searchLoading">Search</span>
                </button>
            </div>
        </form>
    </div>
    <div class="table-wrapper">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Customer</th>
                    <th>Email</th>
                    <th>Phone number</th>
                    <th>Payment method</th>
                    <th>Status</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr 
                    class="item" 
                    *ngFor="let order of orders; let i = index"
                    (click)="handleOrderDetails(order._id)"
                >
                    <td>{{i + 1}}</td>
                    <td>
                        {{order.user.firstName + " " + order.user.lastName}}
                    </td>
                    <td>{{order.user.email}}</td>
                    <td>{{order.user.phone}}</td>
                    <td>{{order.paymentMethod}}</td>
                    <td>{{order.status}}</td>
                    <td>
                        {{order.totalPrice | currency: 'AUD'}}
                    </td>
                </tr>
            </tbody>
            <tfoot></tfoot>
        </table>
        <p class="text-center">
            <i *ngIf="loading" class="animation-loading fa-solid fa-spinner"></i>
        </p>
    </div>
</section>