<section class="order-details center">
    <br>
    <h1>Chi tiết đơn hàng</h1>
    <br>
    <div class="generate-order-information">
        <div class="product-image">
            <img src="/assets/images/laptop.jpeg" alt="">
            <div class="list-product-image">
                <img src="/assets/images/laptop.jpeg" alt="">
                <img src="/assets/images/laptop.jpeg" alt="">
                <img src="/assets/images/laptop.jpeg" alt="">
            </div>
        </div>
        <div class="order-information">
            <p>
                <b>Họ và Tên:</b>Nguyễn Văn A
            </p>
            <p>
                <b>Email:</b>nguyenvana@gmail.com
            </p>
            <p>
                <b>Số điện thoại:</b>0123456789
            </p>
            <p>
                <b>Ngày sinh:</b>01-02-2000
            </p>
            <p>
                <b>Địa chỉ:</b>Hẻm 51L - Xuân Khánh - Ninh Kiều - TP.Cần Thơ
            </p>
            <a routerLink="/admin/main/orders" class="btn btn-dark">Trở về</a>
        </div>
    </div>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Tên</th>
                <th>Hình ảnh</th>
                <th>Danh mục</th>
                <th>Số lượng</th>
                <th>Giá</th>
                <th>Thành tiền</th>
            </tr>
        </thead>
        <tbody>
            <tr class="item">
                <td>1</td>
                <td>Laptop</td>
                <td>
                    <img src="/assets/images/laptop.jpeg" alt="">
                </td>
                <td>Laptop</td>
                <td>1</td>
                <td>10.000.000</td>
                <td>
                    10.000.000
                </td>
            </tr>
            <tr class="item">
                <td>1</td>
                <td>Laptop</td>
                <td>
                    <img src="/assets/images/laptop.jpeg" alt="">
                </td>
                <td>Laptop</td>
                <td>1</td>
                <td>10.000.000</td>
                <td>
                    10.000.000
                </td>
            </tr>
            <tr class="item">
                <td>1</td>
                <td>Laptop</td>
                <td>
                    <img src="/assets/images/laptop.jpeg" alt="">
                </td>
                <td>Laptop</td>
                <td>1</td>
                <td>10.000.000</td>
                <td>
                    10.000.000
                </td>
            </tr>
        </tbody>
        <tfoot></tfoot>
    </table>
    <br>
    <div class="order-description">
        <p>
            <b>Phương thức thanh toán:</b>Thẻ tính dụng
        </p>
        <p>
            <b>Trạng thái đơn hàng:</b>Pending
        </p>
        <p>
            <b>Thành tiền:</b>30.000.000
        </p>
    </div>
</section>
