<section class="categories center">
    <br>
    <h1>Danh mục hàng hoá</h1>
    <a routerLink="/main/add-category" class="btn btn-primary">Thêm danh mục</a>
    <div class="search-component">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Tìm kiếm" aria-label="Tìm kiếm"
                aria-describedby="button-addon2" />
            <button class="btn btn-outline-primary" type="button" id="button-addon2" mdbRipple rippleColor="success">
                Tìm kiếm
            </button>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Tên</th>
                <th>Hình ảnh</th>
                <th>Mô tả</th>
                <th>Quản lý</th>
            </tr>
        </thead>
        <tbody>
            <tr class="item">
                <td>1</td>
                <td>Laptop</td>
                <td>
                    <img src="/assets/images/laptop.jpeg" alt="">
                </td>
                <td>Dạnh mục cho các sản phẩm laptop</td>
                <td>
                    <button class="btn btn-outline-success btn-sm btn-floating">
                        <i class="fa-solid fa-pen"></i>
                    </button>
                    <button class="btn btn-outline-danger btn-sm btn-floating">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </td>
            </tr>
            <tr class="item">
                <td>2</td>
                <td>Laptop</td>
                <td>
                    <img src="/assets/images/laptop.jpeg" alt="">
                </td>
                <td>Dạnh mục cho các sản phẩm laptop</td>
                <td>
                    <button class="btn btn-outline-success btn-sm btn-floating">
                        <i class="fa-solid fa-pen"></i>
                    </button>
                    <button class="btn btn-outline-danger btn-sm btn-floating">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </td>
            </tr>
            <tr class="item">
                <td>2</td>
                <td>Laptop</td>
                <td>
                    <img src="/assets/images/laptop.jpeg" alt="">
                </td>
                <td>Dạnh mục cho các sản phẩm laptop</td>
                <td>
                    <button class="btn btn-outline-success btn-sm btn-floating">
                        <i class="fa-solid fa-pen"></i>
                    </button>
                    <button class="btn btn-outline-danger btn-sm btn-floating">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </td>
            </tr>
        </tbody>
        <tfoot></tfoot>
    </table>
</section>