<section class="products-component center">
    <h2>{{title}}</h2>
    <div class="products text-color-app">
        <app-product-item 
            *ngFor="let product of listProducts"
            [product]="product"
        ></app-product-item>
    </div>
    <p class="text-color-app text-center">
        <i *ngIf="loading" class="animation-loading fa-solid fa-spinner"></i>
        <span *ngIf="!loading && (page < totalPage)" (click)="handleShowMore()">See more products</span>
    </p>
</section>