<section class="products-component center">
    <h2>Sản phẩm</h2>
    <div class="products text-color-app">
        <app-product-item></app-product-item>
        <app-product-item></app-product-item>
        <app-product-item></app-product-item>
        <app-product-item></app-product-item>
        <app-product-item></app-product-item>
        <app-product-item></app-product-item>
        <app-product-item></app-product-item>
        <app-product-item></app-product-item>
        <app-product-item></app-product-item>
        <app-product-item></app-product-item>
        <app-product-item></app-product-item>
        <app-product-item></app-product-item>
        <app-product-item></app-product-item>
        <app-product-item></app-product-item>
        <app-product-item></app-product-item>
    </div>
    <p class="text-color-app text-center">Xem tất cả sản phẩm</p>
</section>