<section class="customer-login">
    <div class="bg-customer-login">
        <div class="login-component">
            <br><br>
            <img class="center" src="/assets/images/logo-app.png" alt="logo">
            <br>
            <h2 class="text-center">Register</h2>
            <form class="form-customer-login center" [formGroup]="userRegisterForm" (submit)="handleSubmit()">
                <div class="input-group">
                    <mdb-form-control class="full-width">
                        <input mdbInput mdbValidate formControlName="email" type="email" id="email" class="form-control" />
                        <label mdbLabel class="form-label" for="email">email</label>
                        <mdb-error *ngIf="getEmail.getError('required') && getEmail.touched">Email is required</mdb-error>
                        <mdb-error *ngIf="getEmail.getError('email') && getEmail.touched">Email is invalid</mdb-error>
                    </mdb-form-control>
                </div>
                <div class="input-group">
                    <mdb-form-control class="full-width">
                        <input mdbInput mdbValidate formControlName="password" type="text" id="password" class="form-control" />
                        <label mdbLabel class="form-label" for="password">Password</label>
                        <mdb-error *ngIf="getPassword.invalid && getPassword.touched">Password is required</mdb-error>
                    </mdb-form-control>
                </div>
                <div class="input-group">
                    <mdb-form-control class="full-width">
                        <input mdbInput mdbValidate formControlName="firstName" type="text" id="first-name" class="form-control" />
                        <label mdbLabel class="form-label" for="first-name">First name</label>
                    </mdb-form-control>
                </div>
                <div class="input-group">
                    <mdb-form-control class="full-width">
                        <input mdbInput mdbValidate formControlName="lastName" type="text" id="last-name" class="form-control" />
                        <label mdbLabel class="form-label" for="last-name">Last name</label>
                    </mdb-form-control>
                </div>
                <div class="input-group">
                    <mdb-form-control class="full-width">
                        <input mdbInput mdbValidate formControlName="phone" type="text" id="phone" class="form-control" />
                        <label mdbLabel class="form-label" for="phone">Phone number</label>
                    </mdb-form-control>
                </div>
                <div class="input-group">
                    <mdb-form-control class="full-width">
                        <input mdbInput mdbValidate formControlName="dob" type="date" id="DOB" class="form-control" />
                        <label mdbLabel class="form-label" for="DOB">Date of Birth</label>
                    </mdb-form-control>
                </div>
                Gender
                <div class="input-gender-group">
                    <div class="form-check">
                        <input mdbRadio mdbValidate formControlName="gender" class="form-check-input" type="radio" name="gender" id="male" checked="true" />
                        <label class="form-check-label" for="male"> Male </label>
                    </div>
                    <div class="form-check">
                        <input mdbRadio mdbValidate formControlName="gender" class="form-check-input" type="radio" name="gender" id="female"/>
                        <label class="form-check-label" for="female"> Female </label>
                    </div>
                    <div class="form-check">
                        <input mdbRadio mdbValidate formControlName="gender" class="form-check-input" type="radio" name="gender" id="other"/>
                        <label class="form-check-label" for="other"> Other </label>
                    </div>
                </div>
                <div class="link-feature">
                    <a routerLink="/login">Login</a>
                </div>
                <br>
                <button type="submit" class="btn btn-primary center">
                    <i *ngIf="loading" class="animation-loading fa-solid fa-spinner"></i>
                    <span *ngIf="!loading">Register</span>
                </button>
                <br><br><br>
            </form>
        </div>
    </div>