<section class="customer-login">
    <div class="bg-customer-login">
        <div class="login-component">
            <br><br>
            <img class="center" src="/assets/images/logo-app.png" alt="logo">
            <br>
            <h2 class="text-center">Đăng nhập</h2>
            <br>
            <form action="" class="form-customer-login center">
                <div class="input-group">
                    <mdb-form-control class="full-width">
                        <input mdbInput type="text" id="username" class="form-control bg-white" />
                        <label mdbLabel class="form-label" for="username">Tên đăng nhập</label>
                    </mdb-form-control>
                </div>
                <div class="input-group">
                    <mdb-form-control class="full-width">
                        <input mdbInput type="text" id="password" class="form-control bg-white" />
                        <label mdbLabel class="form-label" for="password">Mật khẩu</label>
                    </mdb-form-control>
                </div>
                <div class="link-feature">
                    <a routerLink="/customer/register">Đăng ký</a>
                    <span>Quên mật khẩu</span>
                </div>
                <br>
                <button class="btn btn-primary center">Đăng nhập</button>
            </form>
        </div>
    </div>
</section>