<section class="order center">
    <br>
    <h1>Check out</h1>
    <br><br>
    <div class="infomation-order">
        <p>
            <b>Human receiver:</b> {{orderTemp?.address?.fullName}}
        </p>
        <p>
            <b>Address:</b> {{orderTemp?.address?.fullAddress}}
        </p>
        <p>
            <b>Total:</b> {{orderTemp?.total | currency: 'AUD'}}
        </p>
        <a routerLink="/main/cart" class="btn btn-dark">Back</a>
        <button class="btn btn-primary" (click)="makePayment()">Check out</button>
    </div>
    <br><br>
</section>