<section class="add-address center">
    <br>
    <h1>Thêm địa chỉ</h1>
    <br>
    <form class="form-add-address center">
        <div class="input-group">
            <mdb-form-control class="full-width">
                <input mdbInput type="text" id="first-name" class="form-control" />
                <label mdbLabel class="form-label" for="first-name">Họ</label>
            </mdb-form-control>
        </div>
        <div class="input-group">
            <mdb-form-control class="full-width">
                <input mdbInput type="text" id="last-name" class="form-control" />
                <label mdbLabel class="form-label" for="last-name">Tên</label>
            </mdb-form-control>
        </div>
        <div class="input-group">
            <mdb-form-control class="full-width">
                <input mdbInput type="text" id="first-name" class="form-control" />
                <label mdbLabel class="form-label" for="first-name">Số điện thoại</label>
            </mdb-form-control>
        </div>
        <div class="input-group">
            <mdb-form-control class="full-width">
                <input mdbInput type="text" id="last-name" class="form-control" />
                <label mdbLabel class="form-label" for="last-name">Phường/Thị trấn</label>
            </mdb-form-control>
        </div>
        <div class="input-group">
            <mdb-form-control class="full-width">
                <input mdbInput type="text" id="first-name" class="form-control" />
                <label mdbLabel class="form-label" for="first-name">Quận/Huyện</label>
            </mdb-form-control>
        </div>
        <div class="input-group">
            <mdb-form-control class="full-width">
                <input mdbInput type="text" id="first-name" class="form-control" />
                <label mdbLabel class="form-label" for="first-name">Tỉnh/Thành phố</label>
            </mdb-form-control>
        </div>
        <button class="btn btn-primary">Thêm địa chỉ</button>
        <br><br>
    </form>
</section>