.cart {
    width: 90%;

    .table {
        tr {
            td {
                vertical-align: middle;
                align-items: center;
    
                img {
                    width: 100px;
                    border-radius: 10px;
                    object-fit: fill;
                }
            }
        }
    
        .item {
            transition: 0.2s all ease;
            cursor: pointer;
        }
    
        .item:hover {
            background-color: #efefef;
        }
    }
}