<section class="cart center">
    <br>
    <h1>Giỏ hàng</h1>
    <table class="table">
        <thead>
            <tr>
                <th>
                    <div class="form-check">
                        <input mdbCheckbox class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                        <label class="form-check-label" for="flexCheckDefault">
                            Tất cả
                        </label>
                    </div>
                </th>
                <th>Tên</th>
                <th>Hình ảnh</th>
                <th>giá</th>
                <th>Số lượng</th>
                <th>thành tiền</th>
            </tr>
        </thead>
        <tbody>
            <tr class="item">
                <td>
                    <div class="form-check">
                        <input mdbCheckbox class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                    </div>
                </td>
                <td>Laptop</td>
                <td>
                    <img src="/assets/images/laptop.jpeg" alt="">
                </td>
                <td>10.000.000</td>
                <td>1</td>
                <td>10.000.000</td>
            </tr>
            <tr class="item">
                <td>
                    <div class="form-check">
                        <input mdbCheckbox class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                    </div>
                </td>
                <td>Laptop</td>
                <td>
                    <img src="/assets/images/laptop.jpeg" alt="">
                </td>
                <td>10.000.000</td>
                <td>1</td>
                <td>10.000.000</td>
            </tr>
            <tr class="item">
                <td>
                    <div class="form-check">
                        <input mdbCheckbox class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                    </div>
                </td>
                <td>Laptop</td>
                <td>
                    <img src="/assets/images/laptop.jpeg" alt="">
                </td>
                <td>10.000.000</td>
                <td>1</td>
                <td>10.000.000</td>
            </tr>
        </tbody>
        <tfoot></tfoot>
    </table>
    <br><br>
    <div class="infomation-order">
        <p>
            <b>Người nhận:</b> Mai Trong Nhan
        </p>
        <p>
            <b>Địa chỉ giao hàng:</b> Hẻm 51 - Đường 3/2 - Xuân Khánh - Ninh Kiều - Cần Thơ
        </p>
        <p>
            <b>Thành tiền:</b> 30.000.000 vnđ
        </p>
        <button class="btn btn-primary">Mua hàng</button>
    </div>
    <br><br>
</section>